// Colors

$main-color: #000;
$color-1: #fff;
$color-2: #EEEEEE;
$color-3: #F2F2F2;
$color-4: #DB007D;
$color-5: #E5E5E5;

// Fonts

$main-font: 'FuturaPT';
$secondary-font: 'Inter';

// Other

$transition-time: 0.3s;

$maxWidth: 1920;